html { 
  background-color: DarkOliveGreen;
} 

.gallery {
  margin: 10px 50px;
}
.gallery img {
  transition: 1s;
  padding: 15px;
  width: 200px;
}
.gallery img:hover {
  filter: grayscale(100%);
  filter: contrast(50%);
  transform: scale(1.05);
  border-style: solid;
  border-width: 6px;
  border-color: #dcdcdc;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  

body { color: #dcdcdc;
}
